@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
}

.answers-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.timer {
  width: 90%;
  max-width: 600px;
  height: 7px;
  background-color: white;
  margin-bottom: 1em;
  position: relative;
  text-align: left;
}

.timer::after {
  content: ' ';
  position: absolute;
  width: 0%;
  height: 7px;
  background-color: #d60064;
  box-shadow: 0 0 30px #d60064;
  animation-name: timer;
  animation-duration: 5s;
  animation-delay: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.un-clicked-answer,
.button {
  min-width: 100px;
  height: 50px;
  text-align: center;
  /* font-size: 15px; */
  font-weight: bold;
  border: 2px solid #d60064;
  color: white;
  background: transparent;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}

.clicked-answer,
.button:hover {
  background: #d60064;
  box-shadow: 0 0 30px #d60064;
}

.question h2 {
  margin: 1em 1em;
}
.start-game h1,
.user-message {
  font-size: 2.5em;
  background: linear-gradient(
    45deg,
    rgba(214, 0, 100, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text; /*for browsers compatibility */
  -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  color: transparent;
}

.start-game,
.user-result {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.start-game {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.start-game h1 {
  font-size: 3.5em;
}
.start-game p {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-bottom: 1em;
}

.start-game .play-game {
  font-size: 2.5em;
}

.user-result ul li:first-child {
  margin-bottom: 0.5em;
  border: none;
  margin-top: 1.5em;
  font-size: 1.5em;
  /* text-decoration: underline; */
  text-shadow: 0 0 3px #ffffff;
}

.user-result ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  text-shadow: 0 0 2px #ffffff;
}

li:first-child span.correct-answer {
  border: unset;
  box-shadow: unset;
}

li span.correct-answer {
  border: 2px solid #d60064;
  box-shadow: 0 0 5px #d60064;
}

.correct {
  border: 2px solid #1db954;
  box-shadow: 0 0 5px #1db954;
}

.error {
  border: 2px solid #e00034;
  box-shadow: 0 0 5px #e00034;
}
.user-result ul li span.user-answer,
.user-result ul li span.correct-answer {
  padding: 0.5em 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}

.user-answer,
.correct-answer {
  flex: 0 0 48%;
}

hr {
  border: 2px solid #d60064;
  margin: 2em 0;
  box-shadow: 0 0 30px #d60064;
}

.user-score {
  font-size: 2em;
  text-decoration: underline;
  text-shadow: 0 0 5px #ffffff;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-again {
  font-size: 1.5em;
  border: 2px solid #ffffff;
  padding: 0em 1em;
  box-shadow: 0 0 3px #ffffff;
  text-shadow: 0 0 5px #ffffff;
  cursor: pointer;
  user-select: none;
}

@keyframes timer {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

@media (min-width: 600px) {
  * {
    font-size: 17px;
  }
}

@media (min-width: 1000px) {
  * {
    font-size: 18px;
  }
}
